$panel-width: 2560;

$btn-size: 36px;

$din:       'Din', 'Helvetica Neue', sans-serif;
$proforma:  'Proforma', Georgia, Times, serif;
$lh-base:   1.3em;
//Colors
$white: #FFF;
$black: #000;
$rosetta-blue: #00BCE4;
$rosetta-pink: #E81E75;
$rosetta-green: #99CC00;
$text-grey: #616160;
$hover-color: #ADD8E6;
$nav-line-top: 1px solid #0095BD;
$nav-line-bottom: 1px solid #80D9F1;
$nav-width-desktop: 22%;
$nav-width-tablet: 350px;
$nav-width-mobile: 100%;
$page-bg: #F2F4F6;