// Gems
@import 'compass';
@import 'susy';

// Libs
@import 'animate';
@import 'reset';
@import 'mixins';
@import 'variables';
 
$susy: (
  columns: 24,  // The number of columns in your grid
  gutters: 1/8, // The size of a gutter in relation to a single column
);

body, html {
  background-color: #FFF;
  background-image: none;
  height: 100%;
  width: 100%;
  font: normal 16px/#{$lh-base} $din;
  color: #000000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  @include breakpoint(desktop-large-1) {
    font-size: 17px;
    font-size: 1.25vw;
  }

  @include breakpoint(desktop-large-2) {
    font-size: 18px;
    font-size: 1.15vw;
  }

  @include breakpoint(desktop-large-3) {
    font-size: 20px;
    font-size: 1vw;
  }

  @include breakpoint(desktop-large-4) {
    font-size: 24px;
    font-size: 1vw;
  }

  @include breakpoint(desktop-large-5) {
    font-size: 28px;
    font-size: 1vw;
  }
}

// Modules
@import 'pace';
@import 'modules/*';
@import 'global/*';
@import 'fonts/*';
@import 'panels/*';
@import 'pages/*';