/*Play button*/

// #song-play {

// }

// /*Pause button*/
// #song-pause {

// }

// /*Stop button*/
// #song-stop {

// }

// /*Play/Pause button*/
// #song-play-pause {

// }

/*Song location slider*/
#song-slider {
  width: 500px;
  height: 10px;
  background-color: #000;
}

/*Track progress bar*/
#track-progress {
  width: 0;
  height: 10px;
  background-color: #FF0000;
}

/*Volume Up Button*/
//

/*Volume Meter*/
#volume-meter {
  width: 500px;
  height: 10px;
  background-color: #000;
}

/*Volume Location Meter*/
#volume-status {
  height: 10px;
  background-color: #0000FF;
}