/* Section Sub Nav */
 
.section-subnav {
  background: url('/assets/images/case-studies/nav/nav-gradient.png') center top no-repeat #FFF;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  clear: both;

 
  li {
    @include inline-block;
    margin-right: 3%;
    position: relative;
    width: 100%; 
    padding: 0 15%;

    a {
      display: block;
      font-family: 'Din','Arial Black';
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.8em;
      line-height: 1.2em;
      color: #000;

      .img-wrap {
        width: 75%;
        display: block;
        position: relative; 
        margin: auto; 
        border: 5px solid;
        border-color: rgba(77, 200, 226, 0);
        transition: border-color 0.2s ease 0s;
        @include border-radius(50%);
        margin-bottom: 15%;
      }

      .icon {
        background: rgba(0, 0, 0, 0);
        @include border-radius(50%);
        width: 100%;
        height: 100%;
        position: absolute;
        transition: background 0.2s ease 0s;
        z-index: 1;
        padding: 35% 20%; 
      }

      .case-icons {
        color: #FFF;
        font-size: 4em;
        @include opacity(0);
        position: relative;
        @include transition(opacity 0.2s);

        @include breakpoint(desktop) {
          font-size: 3.6em;
        }

        @include breakpoint(desktop-large-3) {
          font-size: 4.4em;
        }

        &.icon-chart {
          left: 0.1em;
        }

        &.icon-shoe {
          left: 0.06em;
          top: -0.06em;
        }

        &.icon-cart {
          left: 0.05em;
          top: -0.13em;
        }

        &.icon-gaming {
          left: 0.1em;
        }
      }

      img { 
        width: 100%;  
        vertical-align: bottom; 
        @include border-radius(50%); 
      }

      @include breakpoint(s-desktop) {
        &:hover {
          color: #00BCE4;

          .img-wrap {
            border-color: rgba(77, 200, 226, 1);
          }

          .icon {
            background: rgba(0, 0, 0, 0.7);
          }

          .case-icons {
            @include opacity(1);
          }
        }
      }
    }

    &.section-subnav-current {
      @include opacity(0.5);

      a {
        color: #000;

        &:hover {
          .img-wrap {
            border-color: rgba(77, 200, 226, 0);
          }

          .icon { 
            @include opacity(0);
            background: rgba(0, 0, 0, 0);
          }

          .case-icons {
            @include opacity(0);
          }
        }
      } 

      &:before { 
        position: absolute;
        content: '';
        width: 0; 
        height: 0; 
        top: -10px;
        border: solid transparent;
        border-color: rgba(255, 0, 0, 0);
        border-top-color: #A9A6A9;
        border-width: 8px;
        @include translate(-50%, -50%);
        z-index: 1;
        left: 50%;
      }
    }

    &:last-child {
      margin: 0;
    }
  }

  .owl-carousel {
    max-width: 75%;
    margin: auto;

    @include breakpoint(tablet) {
      max-width: 100%; 
    }

    .owl-stage {
      padding: 7% 0;
      cursor: default !important;
      margin: 0 auto;
      
      @include breakpoint(mobile) {
        padding: 40px 0;
      }
    }
  }
}