/* Mixins */

@mixin light-text {
  .case-panel, .case-description, .case-description {
    color: #FFF;
  }  
}

/* Personal Computing Panels */
 
.personal-computing-statement {
  @extend %panel; 
  @include panel-size($panel-width, 1437);
  @include panel('/assets/images/case-studies/personal-computing/hero.jpg', '/assets/images/case-studies/personal-computing/hero-mobile.jpg');
  @include light-text;

  .headline, .sub-head {
    color: #FFF;
  }

  .headline {
    max-width: 500px;
    margin: 0 auto;
  }
}

.personal-computing-data {
  @extend %panel;
  @include panel-size($panel-width, 998);
  @include panel('/assets/images/case-studies/personal-computing/grid-bg.jpg', '/assets/images/case-studies/personal-computing/grid-bg-mobile.jpg');
  @include light-text;

  .wrap {

    .case-panel {

      .data-description {
        margin-bottom: 0;
      }

      .client-stats {
        margin-top: 9%;
      }
    }

    @include breakpoint(desktop-large-2) {

      .case-panel {
        .client-stats {
          margin-top: 6%;
        }
      }
    }

    @include breakpoint(desktop-large-1) {

      .case-panel {
        .client-stats {
          margin-top: 2%;
        }
      }
    }

    @include breakpoint(desktop-smaller-1) {

      .case-panel {
        .client-stats {
          margin-top: 2%;
        }
      }
    }

    @include breakpoint(tablet) {

      .case-panel {
        max-width: 75%;
        padding: 3% 0 5%;

        .client-stats {
          margin-top: 5%;
        }
      }
    }

    @include breakpoint(s-tablet) {
      .case-panel {
        .data-description {
          margin-bottom: 0;
        }

        .client-stats {
          margin: 0;
        }

        .stat-description-huge {
          font-size: 3em;
        }
      }
    }

    @include breakpoint(mobile) {
      padding: 20px;

      .insights {
        margin-top: 30% !important;
      }

      .case-panel {
        max-width: 100%;
        padding: 3% 0 25%;

        .client-stats {
          margin: 0;
        }

        .stats {
          // float: none;
          display: block;
          margin: auto;
          padding: 0;
          // width: 100%;
        }

        .stat-description-small {
          font-size: 0.75em; 
        }
      }
    }
  }

  .case-panel {
    padding: 3% 0 4%;

    @include breakpoint(mobile) {
      padding: 3% 0 15%;
    }

    h2.case-caption {
      font-weight: lighter;
    }

    .data-description {
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      font-size: 18px;

      @include breakpoint(mobile) {
        font-size: 0.9em;
        padding: 0 25px;
      }
    }

    .client-stats {
      max-width: 100%;
      margin: 40px 0 0;
    }

    .stats {
      width: 33.3333%;
      float: left;
      padding: 20px;
    }

    .circle-container {
      background: url('/assets/images/case-studies/investment-services/stat-circle.png') center center;
      @include background-size(contain);
      padding: 5.9em 0 2.8em;
      background-repeat: no-repeat;

      @include breakpoint(mobile) {
        background-image: none;
        padding: 5.1em 0 0;
      }
    }

    .stat-description-huge {
      font-size: 3.5em;
      line-height: 0.8em;
      margin: 0; 
    }

    .stat-description-small { 
      font-size: 0.8em;
      line-height: 1.3em;
      font-weight: 600;
      margin-top: 0.3em;
    } 

    .client-stats:after {
      clear: both;
    }

    .client-stats:before, .client-stats:after {
      content: '';
      display: block;
      height: 0;
      overflow: hidden;
    } 
  }

  .pencil {
    bottom: -42%;
    position: absolute;
    right: 0;
    z-index: 1;
  }

  @include breakpoint(tablet) {
    .pencil {
      display: none;
    }
  }

  @include breakpoint(mobile) {
    .pencil {
      display: block;
      bottom: -23%;
      position: absolute;
      right: -87px;
      z-index: 1;

      img {
        width: 100%;
        max-width: 320px;
      }
    }
  }
}

.personal-computing-data:after {
  padding-top: 44.984%;
}

.personal-computing-unlocked {
  @extend %panel;
  @include panel-size($panel-width, 998);
  position: relative;
  /*top: -35px;*/
  z-index: 0;

  .wrap {
    background-image: url('/assets/images/case-studies/personal-computing/content.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    /*margin-top: 34px;*/

    @include breakpoint(tablet) {
      padding: 20px;

      .case-panel {
        max-width: 75%;
      }

      .activate {
        padding: 15% 0 33%;

        .case-contact {
          padding: 0 0 0 15%;
        }
      }
    }
    
    @include breakpoint(mobile) {
      padding: 60px 20px 20px;


      .case-panel {
        max-width: 85%;

        .unlocked-col {
          width: 100%;
        }

        .unlocked-col:last-child {
          margin-top: 2%;
        }

      }

      .activate {
        padding: 15% 0 3%;
        
        .case-contact {
          padding: 0;
          background: none;
          text-align: center;
          margin-top: 50px;
        }

        .icon-mail3 {
          color: #000;
          font-size: 2.7em;
          margin: 5% 0 0;
          display: block;
        }

        img.headshot {
          width: 25%;
          margin: 4% auto;
        }
      }


      .center-text {
        width: 100% !important;
        float: left;
        text-align: center; 
        margin: 0 !important;
      }
    }

    @include breakpoint(s-mobile) {
      background-image: url('/assets/images/case-studies/personal-computing/content-mobile.jpg');

      .case-panel h2 {
        margin: 5% auto;
        line-height: 1.2em;
      }


      .activate {
        margin-top: 30px;

        h2 {
          margin-bottom: 5%;
        }
      }

      .case-caption {
        font-size: 1.5em;
      }
    }
  }


  .case-panel {
    padding: 6% 0 3%;

    .case-caption {
      font-weight: lighter;
      max-width: 100%;
    }

    .data-title-wrapper {
      margin: auto;
      padding: 0;

      .case-data-title {
        width: 47%;
        float: left;
        margin: 0 3% 0 0;

        @include breakpoint(mobile) {
          text-align: left;
        }
      }

      .icon-description {
        text-align: center;
        font-size: 0.75em;
        line-height: 1.3em;
      }

      img {
        max-width: 50%;
        display: block;
        margin: 5% auto;
      }
    }

    .data-title-wrapper:after {
      clear: both;
    }

    .data-title-wrapper:before, .data-title-wrapper:after {
      content: '';
      display: block;
      height: 0;
      overflow: hidden;
    }
    
    .unlocked-description {
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
    }
  
    .unlocked-col {
      float: left;
      padding-right: 2%;
      width: 36%;
      text-align: left;
    }

    .last {
      padding-left: 3%;
      padding-right: 0;
      width: 25%;
    }

    p {
      margin-bottom: 3%;
    } 

    .details:after {
      clear: both;
    }

    .details:before, .details:after {
      content: '';
      display: block;
      height: 0;
      overflow: hidden;
    }
  }

  .activate {
    /*padding: 0 0 9%; WITH BOTTOM NAV*/
    padding: 0 0 24%;


    p.intro { 
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 5%;

      @include breakpoint(mobile) {
        font-size: 0.9em;
      }
    }

    .case-contact {
      background: url('/assets/images/case-studies/personal-computing/divider.png') no-repeat top left;
      -webkit-background-size: contain; 
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      padding: 0 0 0 25%;
    }

    h3 {
      margin-bottom: 0;

      @include breakpoint(mobile) {
        font-size: 0.9em;
      }
    }

    .name {
      text-transform: none;
      color: #000000;
      font-size: 1.1em;
    }

    p.value {
      margin-bottom: 1.5em;
    }

    p.job-title {
      margin-bottom: 0.5em;
    }

    img.headshot {
      width: 70%;
      margin: 1.3em 0;
    }

    .icon-mail1 {
      color: #000000;
      font-size: 1.5em;
      line-height: 0;
      display: inline;

      @include breakpoint(mobile) {
        display: none;
      }
    }

    .icon-mail1:hover {
      color: #3A3A3A;
    }

    .icon-mail3 {
      display: none;

      @include breakpoint(mobile) {
        display: block;
      }
    }

  }

  @include breakpoint(tablet) {
    .activate {
      padding: 0 0 15% !important;
    }
  }

}

.personal-computing-unlocked:after {
  padding-top: 0%;
}

@include breakpoint(mobile) {
  .byline {
    font-size: 0.8em;
  }
}

.kern {
  letter-spacing: -6px;
}
