// Technology

/*------------- Hero Grid -------------*/

// Grid Items

.grid-tech1 {
  background-image: url('/assets/images/how/technology/grid-commerce.jpg');
  background-color: #839D36;
}

.grid-tech2 {
  background-color: #B5D06B;
}

.grid-tech3 {
  background: url('/assets/images/how/technology/grid-performance.jpg') #252525;
}

.grid-tech4 {
  background-color: #999997;
}

.grid-tech5 {
  background-color: #476B26;
}

.grid-tech6 {
  background-color: #303030;
}

.grid-tech7 {
  background-image: url('/assets/images/how/technology/grid-i-am-rosetta.jpg');
  background-color: #0A0A0A;
}

.grid-tech8 {
  background-color: #304713;
}

.grid-tech9 {
  background-color: #87B118;
}

.grid-tech10 {
  background-color: #304D5B;
}

.grid-tech11 {
  background-color: #495F03;
}

.grid-tech12 {
  background-image: url('/assets/images/how/technology/grid-thought-leadership.jpg');
  background-color: #809E28;
}

.grid-tech13 {
  background-image: url('/assets/images/how/technology/grid-awards.jpg');
  background-color: #AEAEAE;
}

.grid-tech14 {
  background-color: #4C4C4C;
}

// Right Now Carousels

.carousel-rightnow-ny {
  background-image: url('/assets/images/how/technology/rightnow-ny.jpg');
}

.carousel-rightnow-slo {
  background-image: url('/assets/images/how/technology/rightnow-slo.jpg');
}

.carousel-rightnow-cle {
  background-image: url('/assets/images/how/technology/rightnow-cle.jpg');
}

// Horizontal Touch Scroll

.hscroll {
  width: 500px;
  height: 100px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  .hscroll-inner {
    height: 100px;
    width: 1000px;

    div {
      float: left;
      margin: 20px;
      background: #CCC;
      width: 60px;
      height: 60px;
    }
  }
}


// Technology Content

.headline-script {
  display: block;
  margin: 0 auto;
}

.technology-content1 {
  background: #EBEBEB;
  padding: 4em 0;

  .callout {
    background: none;
  }

  section {
    @extend %panel-content;
  }

  .technology-stats {
    text-align: center;
    margin-bottom: 3em;

    .icon {
      font-size: 4em;
      margin-bottom: 0.2em;
    }

    .stat {
      font-size: 4em;
      line-height: 1em;
      display: block;
      font-weight: 100;
    }
  }
}

.tiles {
  @include clearfix;

  li {
    float: left;
    width: 24.25%;
    background: #FFF;
    margin: 0 1% 1% 0;
    position: relative;

    &:nth-child(4n) {
      margin-right: 0;
    }

    div {
      padding-top: 100%;
      width: 100%;
      text-align: center;
    }

    .title {
      background: #FFF;
    }

    .description {
      background: #4B6305;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      color: #FFF;
      @include opacity(0);
      @include transition(opacity 0.2s);
    }

    &:hover .description {
      @include opacity(1);
    }

    span,
    h3 {
      top: 50%;
      left: 0;
      position: absolute;
      width: 100%;
      padding: 0 10%;
      @include transform(translateY(-50%));
    }
  }
}

.technology-partnerships {
  @include panel('/assets/images/how/technology/partnerships.jpg', '/assets/images/how/technology/partnerships.jpg');
  @extend %panel;
  @include panel-size($panel-width, 1081);

  .cta-panel {
    color: #FFF;

    @include breakpoint(desktop) {
      width: 40%;
    }
  }

  img {
    width: 100%;
  }
}

.technology-content2 {
  @include panel('/assets/images/how/technology/ee-bg.jpg', '/assets/images/how/technology/ee-bg.jpg');
  @extend %panel;
  @include panel-size($panel-width, 2947);
  background-color: #212121;

  .wrap {
    background-position: center top;
  }

  .technology-ee {
    @extend %panel-content;
    background: #FFF;
    margin-top: 14%;
  }
}

.technology-leadership {
  background: #212121;
  @include clearfix;
}